---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us - Bedford Software">
 <main class="min-w-full grid grid-flow-row sm:py-10 sm:px-40 p-4 pb-20 gap-10">
  <h1 class="text-3xl font-semibold">Let's Get in Touch!</h1>
  <form action="/actions/send-email" method="post" class="grid gap-10 sm:w-1/2">
   <div class="grid gap-2">
    <label for="send-email__name" class="font-semibold">Name</label>
    <input type="text" name="name" id="send-email__name" required class="h-10 border-2 border-slate-200 rounded-lg drop-shadow-sm px-2" />
   </div>
   <div class="grid gap-2">
    <label for="send-email__business" class="font-semibold">Business</label>
    <input type="text" name="business" id="send-email__business" required class="h-10 border-2 border-slate-200 rounded-lg drop-shadow-sm px-2" />
   </div>
   <div class="grid sm:gap-2 sm:grid-cols-2 gap-10">
    <div class="grid gap-2">
     <label for="send-email__email" class="font-semibold">Email Address</label>
     <input type="email" name="email" id="send-email__email" required class="h-10 border-2 border-slate-200 rounded-lg drop-shadow-sm px-2" />
    </div>
    <input type="text" name="username" placeholder="Your Username" tabindex="-1" autocomplete="new-password" class="absolute left-[-999999px]" />
    <div class="grid gap-2">
     <label for="send-email__phone" class="font-semibold">Phone Number</label>
     <input type="tel" name="phone" id="send-email__phone" required class="h-10 border-2 border-slate-200 rounded-lg drop-shadow-sm px-2" />
    </div>
   </div>
   <!-- <div class="grid">
    <label for="send-email__subject" class="font-semibold">Subject:</label>
    <input type="text" name="subject" id="send-email__subject" required class="h-10 border-2 border-slate-200 rounded-lg drop-shadow-sm px-2" />
   </div> -->
   <div class="grid">
    <label for="send-email__message" class="font-semibold">Message:</label>
    <textarea name="message" id="send-email__message" required class="p-2 h-20 border-2 border-slate-200 rounded-lg drop-shadow-sm"></textarea>
   </div>
   <button
    type="submit"
    class="drop-shadow-sm appearance-none inline-flex hover:shadow-2xl transition-all duration-300 hover:scale-105 items-center group space-x-2.5 bg-bedford-blue text-white py-2 px-4 rounded-2xl cursor-pointer w-fit font-semibold"
    >Send Message</button
   >
  </form>
 </main>
</Layout>
