---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bedford Software">
 <main class="min-h-screen mx-20 my-5 rounded-2xl p-5">
  <h1>Welcome to <span class="text-gradient">Astro</span></h1>
  <p class="instructions">
   To get started, open the directory <code>src/pages</code> in your project.<br />
   <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
  </p>
  <p class="instructions">
   To get started, open the directory <code>src/pages</code> in your project.<br />
   <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
  </p>
  <p class="instructions">
   To get started, open the directory <code>src/pages</code> in your project.<br />
   <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
  </p>
  <p class="instructions">
   To get started, open the directory <code>src/pages</code> in your project.<br />
   <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
  </p>
 </main>
</Layout>
