---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pricing - Bedford Software">
 <section class="grid justify-center items-start text-center bg-red-200">
  <h1>Pricing</h1>
  <div class="grid grid-flow-col col-span-2 w-full">
   <div>one</div>
   <div>two</div>
  </div>
 </section>
</Layout>
