---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Products - Bedford Software">
 <main class="min-w-full flex-1 sm:py-10 sm:px-40 p-4 pb-20">
  <h1 class="text-3xl font-semibold pb-8">Products</h1>
  <a href="https://boardlo.com">Boardlo</a>
 </main>
</Layout>
