---
import { Image } from "astro:assets";
import logo from "../assests/blue.webp";
---

<header class="grid grid-flow-col items-center justify-between sm:px-40 p-4">
 <a href="/" class="sm:flex hidden justify-between items-center gap-4">
  <Image src={logo} alt="B Logo" width={50} />
  <h3 class="font-semibold sm:text-2xl text-xl">Bedford Software</h3>
 </a>

 <div class="sm:hidden grid grid-flow-row grid-cols-2">
  <a href="/" class="flex justify-between items-center gap-4">
   <Image src={logo} alt="B Logo" width={50} />
   <h3 class="font-semibold sm:text-2xl text-xl">Bedford Software</h3>
  </a>
  <label for="title1" class="w-full flex items-center p-2 mb-1 cursor-pointer transition ease-in-out duration-500 justify-end">
   <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><line x1="4" x2="20" y1="12" y2="12"></line><line x1="4" x2="20" y1="6" y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg
   >
  </label>
  <div class="col-span-2">
   <input type="checkbox" id="title1" class="peer hidden" />
   <div
    class="gap-3 mt-2 content bg-slate-100 font-semibold text-zinc-700 p-3 rounded peer-checked:grid hidden transition duration-300 ease-in-out text-lg"
   >
    <a href="/about" class="group transition duration-300">
     About
     <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
    </a>

    <a href="/services" class="group transition duration-300">
     Services
     <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
    </a>

    <a href="/customers" class="group transition duration-300">
     Portfolio
     <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
    </a>
   </div>
  </div>
 </div>
 <div class="hidden gap-16 font-semibold text-zinc-700 items-center sm:flex">
  <a href="/about" class="group transition duration-300">
   About
   <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
  </a>

  <a href="/services" class="group transition duration-300">
   Services
   <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
  </a>

  <a href="/customers" class="group transition duration-300">
   Portfolio
   <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
  </a>

  <a
   href="/contact"
   type="button"
   class="appearance-none inline-flex hover:shadow-2xl transition-all duration-300 hover:scale-105 items-center group space-x-2.5 bg-bedford-blue text-white py-2 px-4 rounded-2xl cursor-pointer w-fit"
   ><span class="w-full font-semibold text-base">Contact</span></a
  >
 </div>
</header>
