---

---

<header class="grid grid-flow-col items-center justify-between sm:px-40 p-4">
 <h3 class="font-semibold sm:text-2xl text-xl">Bedford Software</h3>

 <div class="sm:hidden flex">
  <input type="checkbox" id="title1" class="peer hidden" />
  <label for="title1" class="block p-2 pl-6 mb-1 cursor-pointer transition ease-in-out duration-500 w-fit">X</label>
  <div class="content bg-red-200 p-3 rounded peer-checked:block hidden transition duration-300 ease-in-out">
   <p>Your content goes here.</p>
  </div>
 </div>
 <div class="hidden gap-16 font-semibold text-zinc-700 items-center sm:flex">
  <a href="/about" class="group transition duration-300">
   About
   <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
  </a>

  <a href="/services" class="group transition duration-300">
   Services
   <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
  </a>

  <a href="/customers" class="group transition duration-300">
   Portfolio
   <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
  </a>

  <a
   href="/contact"
   type="button"
   class="appearance-none inline-flex hover:shadow-2xl transition-all duration-300 hover:scale-105 items-center group space-x-2.5 bg-sky-600 text-white py-2 px-4 rounded-2xl cursor-pointer w-fit"
   ><span class="w-full font-semibold text-base">Contact</span></a
  >
 </div>
</header>
