---

---

<header class="py-5 px-10 flex justify-between items-center">
 <span class="font-extrabold text-2xl font-serif">Bedford Software</span>
 <div class="flex gap-4 font-bold">
  <a href="/contact">Contact</a>
  <span class="font-thin">|</span>
  <a href="/customers">Customers</a>
  <span class="font-thin">|</span>
  <a href="about">Company</a>
 </div>
</header>
